#chat-username {
        position: absolute;
        top: 205%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: black;
        border: 2px solid palegreen;
        border-radius: 10px;
        overflow: hidden;
        width: 300px;
        box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.2);
        display: flex;
        flex-direction: column;
        padding: 10px;
        color: white;
        display: none; /* Inicialmente oculto */
        z-index: 2;
    }

    #username-input {
        margin-bottom: 10px;
    }
    #chat #messages .chat-username {
    /* Estilos específicos para el nombre de usuario */
    font-family: Arial, sans-serif; /* Puedes cambiar la fuente según tus preferencias */
    font-weight: bold;
    color: white;
    background-color: transparent;
    border-radius: 0%;
    border: 0cap;
    box-shadow: none;
    /* Agrega cualquier otro estilo específico para el nombre de usuario aquí */
}
    #chat #messages .username {
    /* Estilos específicos para el nombre de usuario */
    font-family: Arial, sans-serif; /* Puedes cambiar la fuente según tus preferencias */
    font-weight: bold;
    color: #ffcc00; /* Cambia el color según tus preferencias */
}
    #chat #messages strong {
    background-color: #34db9b; /* Cambia el color de fondo aquí */
    color: white; /* Cambia el color del texto aquí */
    padding: 0px; /* Ajusta el espacio interno si es necesario */
    border-top-left-radius: 0px; /* Agrega bordes redondeados si lo deseas */
    border-top-right-radius: 0px;
    border: 2px solid rgba(152, 251, 152, 0.5);
    border-radius: 5px; 
    box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.5), 0px 0px 20px rgba(255, 255, 255, 0.5);
    font-family: monospace;
    font-size: larger;
}
#chat {
            position: absolute; /* Posiciona el botón sobre la imagen */
    top: 78%; /* Ajusta este valor para colocar el botón verticalmente */
    left: 50%; /* Centra horizontalmente */
    transform: translate(-50%, -50%);
            background-color: black;
            border: 2px solid palegreen;
            border-radius: 10px;
            overflow: hidden;
            width: 300px;
            height: 320px;
            box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.2);
            display: flex;
            flex-direction: column;
            transition: height 1.3s ease;
            z-index: 5;
        }

        
#chat.chat-contracted {
    height: 50px; /* Cambia la altura según tus preferencias */
    bottom: 0; /* Ajusta la posición inferior para que se vea correctamente */
}

/* Agrega esta clase para ocultar el chat */
.chat-hidden {
    display: none !important;
}

        #messages {
            flex-grow: 1;
            max-height: 200px;
            padding: 10px;
            top: 100px;
            margin-top: 0;
            overflow-y: auto;
            overflow-wrap: normal;
            color: white;
            font-size: 16px;
            
    
        }

        #chat-input {
            display: flex;
            align-items: center;
            padding: 10px;
            background-color: black;
        }

        #emoji-button {
            margin-left: auto;
            cursor: pointer;
            color: white;
            font-size: 20px;
        }

        #message-btn {
            margin-left: 10px;
            background-color: #3498db;
            color: white;
            border: none;
            padding: 8px 15px;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s, transform 0.2s, box-shadow 0.3s;
        }
        
        /* Clase para quitar el sombreado después de tocar en dispositivos móviles */
        #message-btn:active {
            box-shadow: none;
            transform: scale(0.95); /* Simula un botón presionado */
        }

        /* Agrega este estilo para el contenedor de emojis */
       #emoji-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    position: absolute; /* Utiliza posición absoluta */
    top: calc(74% + 10px); /* Coloca el contenedor debajo del cuadro de chat */
    left: 50%; /* Centra el contenedor horizontalmente */
    transform: translate(-50%, -50%); /* Ajusta para centrar en pantalla */
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 5px;
    display: none; /* Oculta el contenedor inicialmente */
    z-index: 9;
    width: 225px;
}


/* Agrega estilo para los emojis individuales */
.emoji {
    cursor: pointer;
    font-size: 20px;
    margin-right: 10px;
}
/* Agrega estilos para la ventana emergente */
.modal {
    display: none;
    position: absolute;
    z-index: 2;
    left: 50%;
    top: 205%;
    width: 350%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    flex-direction: column;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0);
    padding-top: 10px;
  }
  
  .modal-content {
    top: 205%;
        left: 50%;
    flex-direction: column;
    background-color: #fefefe00;
    margin: 0% auto;
    padding: 10px;
    border: 0px solid #888;
    width: 300%;
  }
  
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  
  #username-modal {
    position: absolute;
        top: 76.5%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: black;
        border: 2px solid palegreen;
        border-radius: 10px;
        overflow: hidden;
        width: 165px;
        height: 49px;
        box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.2);
        display: flex;
        flex-direction: column;
        padding: 10px;
        color: white;
        display: none; /* Inicialmente oculto */
        z-index: 5;
}

#username-modal label {
    margin-bottom: 5px;
    background-color: aqua;
}

#username-input {
    margin-bottom: 10px;
    width: 95px;
    
}

#set-username-button {
    background-color: palegreen;
    color: black;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
}

.system {
    font-family: Arial, sans-serif; /* Puedes cambiar la fuente según tus preferencias */
    font-weight: bold;
    color: #ff0080;
    background-color: #34db9b8f;
    border: 2px solid rgba(152, 251, 152, 0);
    border-radius: 5px; 
    box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.5), 0px 0px 20px rgba(255, 255, 255, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
  }
 

  .system2 {
    background-color: #34db9b; /* Cambia el color de fondo aquí */
    color: white; /* Cambia el color del texto aquí */
    padding: 0px; /* Ajusta el espacio interno si es necesario */
    border-top-left-radius: 0px; /* Agrega bordes redondeados si lo deseas */
    border-top-right-radius: 0px;
    border: 2px solid rgba(152, 251, 152, 0.5);
    border-radius: 5px; 
    box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.5), 0px 0px 20px rgba(255, 255, 255, 0.5);
    font-family: monospace;
    font-weight: bold;
    font-size: 16px;
  }

  #message-form {
    display: flex;
    align-items: center;
}

#message-input {
    flex: 1;
    margin-top: -10px;
    margin-bottom: 5px;
    margin-left: 5px;
}

#emoji-button {
    margin-left: auto;
    cursor: pointer;
    color: white;
    font-size: 20px;
    margin-bottom: 15px;
    outline: none;
    -webkit-tap-highlight-color: transparent; /* Evita el borde azul en dispositivos móviles */

}

#emoji-button.active {
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.5);
    transform: translateY(-2px);
    transition: box-shadow 0.4s ease, transform 0.2s ease;
}

        
#message-btn {
    margin-left: 10px; /* Ajusta el espacio entre los botones según sea necesario */
    margin-bottom: 10px;
    margin-right: 5px;
        
}

#messages .message {
    list-style: none;
    margin: 5px 0;
    
}

#messages .username {
    font-weight: bold;
    margin-right: 0px; /* Agrega un pequeño espacio entre el nombre de usuario y el mensaje */
}

#messages .system {
    list-style: none;
    margin: 5px 0;
    font-weight: bold;
}

#messages li.sent span,
#messages li.receive span {
    /* Estilos específicos para el nombre de usuario */
    font-family: Arial, sans-serif; /* Puedes cambiar la fuente según tus preferencias */
    font-weight: bold;
    color: white;
    font-size: larger;
    margin-right: -1px;
    /* Agrega cualquier otro estilo específico para el nombre de usuario aquí */
}

.share-current-song {
    font-family: Arial, sans-serif; /* Puedes cambiar la fuente según tus preferencias */
    font-weight: bold;
    color: #ff0080;
    background-color: #34db9b8f;
    border: 2px solid rgba(152, 251, 152, 0);
    border-radius: 5px; 
    box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.5), 0px 0px 20px rgba(255, 255, 255, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

button, a, img {
    outline: none;
}



/* Banner superior */
#top-banner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 4%;
    background-color: #63e0b677;
    color: white;
    padding: 20px;
    text-align: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    /* Mover el banner hacia arriba, por ejemplo 20px */
    transform: translateY(-30px);
    box-sizing: border-box;
}

@media (min-width: 768px) {
    #top-banner {
        height: 3%;
        
    }
}


.banner-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}



.banner-content h1 {
    color: #888;
    padding-left: 5px;
font-size: 1.4em;
    font-family: 'Orbitron'
}

@media (min-width: 768px) {
    .banner-content h1 {
        margin-left: 90%;
        
    }
}

.menu-toggle {
    font-size: 30px; /* Tamaño del icono */
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    outline: none;
    z-index: 1001;
    position: relative;
    margin-top: -45px;
    margin-right: 25px;
    transition: color 0.3s ease;
    font-family: 'Orbitron'
}


.menu-toggle span {
    display: block;
    transition: opacity 0.5s ease, transform 0.5s ease; /* Animación suave */
    position: absolute;
    font-family: 'Orbitron'
}

.menu-toggle span.x-symbol {
    opacity: 0; /* X inicialmente oculta */
    font-size: 20px;
    transform: rotate(-90deg); /* Rotación inicial */
}

.menu-toggle.active span.x-symbol {
    opacity: 1;
    margin-top: 10px;
    margin-left: 5px;
    
    transform: rotate(0); /* Rotación para mostrar X */
}

.menu-toggle span.burger-symbol {
    opacity: 1; /* Mostrar hamburguesa al inicio */
    margin-top: 2px;
    font-size: 29px;
    margin-left: 0px;
}

.menu-toggle.active span.burger-symbol {
    opacity: 0; /* Ocultar hamburguesa */
    transform: rotate(90deg); /* Rotación para ocultar hamburguesa */
}

.menu-toggle:hover {
    color: #ccc; /* Color al pasar el mouse */
}


/* Ocultar el menú al inicio */
#menu {
    max-height: 0; /* Cambia a 0 para ocultar el menú */
    overflow: hidden; /* Esconde contenido desbordado */
    position: absolute;
    top: 60px;
    right: 0px;
    background-color: #a0458c88;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    opacity: 0;
    transition: max-height 0.8s ease, opacity 0.8s ease; /* Transición suave */
}

#menu.show {
    max-height: 500px; /* Altura máxima suficiente para el contenido */
    font-size: larger;
    font-family: 'Orbitron';
    margin-top: 5%;
    opacity: 1;
    
}

@media (min-width: 768px) {
    #menu.show {
        margin-top: 0.9%;
        
    }
}

#menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    transform: 0.9s ease-out;
    font-family: 'Orbitron'
}

#menu ul li {
    padding: 10px 20px;
    opacity: 0;
    transform: translateY(-20px);
    transition: opacity 0.6s ease-in-out, transform 0.9s ease-in-out; /* Incrementar el tiempo de transición */
}

#menu.show ul li:nth-child(1) {
    opacity: 1;
    transform: translateY(0);
    transition-delay: 0.2s;
}

#menu.show ul li:nth-child(2) {
    opacity: 1;
    transform: translateY(0);
    transition-delay: 0.4s;
}

#menu ul li a {
    color: white;
    text-decoration: none;
}

#menu ul li:hover {
    background-color: #45a049;
}

/* Para pantallas móviles */
@media (max-width: 768px) {
    .banner-content {
        margin-left: -70%;
        justify-content: space-between;
        align-items: center;
    
    }
    .banner-content h1 {
        margin-left: 75%;
    }

    

    #menu {
        top: 50px; /* Ajusta según el tamaño del banner */
    }
}




.dropdown-menu {
    display: none; /* Oculto por defecto */
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #162f3577;
    width: 100%;
    transition: all 0.3s ease; /* Transición suave */
}

.dropdown-menu.show {
    display: block; /* Mostrar menú cuando sea activo */
}

.menu-item {
    padding: 10px;
    color: white;
    text-decoration: none;
    display: block;
}

.info-box {
    display: none; /* Cuadros ocultos por defecto */
    position: absolute;
    top: 39px;
    left: 7px;
    right: 20px;
    background-color: #45a049;
    font-family: 'Orbitron';
    color: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    z-index: 999;
    max-width: 219px;
    transition: all 0.3s ease; /* Suave */
}

@media (min-width: 768px) {
    .info-box {
        margin-top: 0.3%;
        margin-left: 69.8%;
        
    }
}

.info-box.show {
    display: block; /* Mostrar cuadro cuando esté activo */
}

