/* ==========================
   PUSH INVITATION
========================== */

#push-overlay{

    position:fixed;
    inset:0 0 550px 0;

    display:none;

    justify-content:center;
    align-items:flex-end;

    padding-bottom:45px;

    z-index:999999;

    pointer-events:none;

}

@media (min-width: 768px) and (hover: hover) and (pointer: fine) {
    #push-overlay{
        inset:0;  
            
    }
}

.push-card{

    width:640px;

    padding:22px;

    border-radius:18px;

    background:rgba(22,22,22,.58);

    backdrop-filter:blur(14px);

    border:1px solid rgba(47,185,190,.55);

    box-shadow:

        0 0 14px rgba(47,185,190,.30),

        0 0 30px rgba(216,60,164,.18);

    color:white;

    font-family:'Orbitron';

    text-align:center;

    pointer-events:auto;

    animation:pushFade .45s ease;

}

@media (min-width: 768px) and (hover: hover) and (pointer: fine) {
    .push-card{
        width:320px;  
            
    }
}

.push-icon{

    font-size:56px;

    margin-bottom:12px;

}

@media (min-width: 768px) and (hover: hover) and (pointer: fine) {
    .push-icon{
        font-size:28px; 
            
    }
}

.push-title{

    color:#7efcf8;

    font-size:34px;

    margin-bottom:12px;

    text-shadow:

        0 0 6px #2fb9be;

}

@media (min-width: 768px) and (hover: hover) and (pointer: fine) {
    .push-title{
        font-size:17px; 
            
    }
}

.push-text{

    font-size:22px;

    line-height:1.55;

    color:#dddddd;

    margin-bottom:18px;

}

@media (min-width: 768px) and (hover: hover) and (pointer: fine) {
    .push-text{
        font-size:11px; 
            
    }
}

.push-enable{

    width:100%;

    padding:11px;

    border:none;

    border-radius:25px;

    cursor:pointer;

    font-family:'Orbitron';

    background:

        linear-gradient(

            90deg,

            #1ed9d7,

            #d83ca4

        );

    color:white;

   font-size:22px;

    transition:.25s;

}



.push-enable:hover{

    transform:scale(1.03);

}

@media (min-width: 768px) and (hover: hover) and (pointer: fine) {
    .push-enable{
        font-size:11px; 
            
    }
}

.push-later{

    margin-top:14px;

    background:none;

    border:none;

    color:#8fd8da;

   font-size:22px;

    cursor:pointer;

    font-family:'Orbitron';

}

@keyframes pushFade{

    from{

        opacity:0;

        transform:translateY(25px);

    }

    to{

        opacity:1;

        transform:translateY(0);

    }

}

@media (min-width: 768px) and (hover: hover) and (pointer: fine) {
    .push-later{
        font-size:11px; 
            
    }
}
